$background-primary: #fff;
$text-primary: #00425A;

$text-family-primary: Assistant, sans-serif;
html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 255, 255);
    font-family: Assistant, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #00425A;
}

//navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}
.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #00425A;
        }
        .active {
            font-weight: bold;
            color: #00425A !important;
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #00425A;
    color: white;

    &:hover {
        background-color: #0c2561;
        color: white;
    }
}
//header
header {
    padding: 180px 0 165px;
    margin-top: -70px;
    background-image: url("../img/img-header.jpg");
    background-size: cover;

    h1,
    p {
        color: #fff;
    }

    h1 {
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 50px;
    }
    p {
        font-size: 22px;
    }
    .btn-get-started {
        background-color: #1F8A70;
        color: #fff;
        border: none;

        &:hover {
            background-color: #ffb47b;
            color: #fff;
        }
    }
}

//statistik
.section-stats {
    margin-top: -50px;

    .stats-detail {
        padding-top: 15px;
        background-color: #fff;
        padding-left: 40px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }
    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

.section-popular {
    min-height: 540px;
    background-color: $background-primary;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 120px;

        h2,
        p {
            color: $text-primary;
        }
        h2 {
            font-family: "Playfair Display", serif;
            font-weight: bold;
            font-size: 40px;
        }
        p {
            font-size: 18px;
        }
    }

    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
    }
}
.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: #000;
            color: white;
            padding: 30px;
            margin-bottom: 20px;
            min-width: 240px;
        }
        .travel-country {
            font-size: 18px;
            color: #fff;
        }
        .travel-location {
            font-size: 26px;
            color: #fff;
        }
        .travel-button {
            .btn-travel-details {
                background-color: #1F8A70;
                color: #fff;

                &:hover {
                    background-color: #ffb47b;
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .section-popular-content {
        .section-popular-travel {
            .card-travel {
                min-height: 380px;
                background-color: #000;
                color: white;
                padding: 30px;
                margin-bottom: 20px;
                max-width: 180px;
            }
        }
    }
}
.section-network {
    background-color: #fff;
    // margin-top: 170px;
    padding-top: 40px;
    padding-bottom: 50px;

    h2 {
        font-family: "Playfair Display";
        font-weight: bold;
        font-size: 40px;
        text-align: left;
        color: #00425A;
    }
    img {
        font-family: Assistant;
        font-weight: normal;
        font-size: 18px;
        text-align: left;
        color: #00425A;
        max-width: 100%;
    }
}

.section-testimonial-heading {
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;

    h2 {
        font-family: "Playfair Display";
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        color: #00425A;
    }
    p {
        font-size: 18px;
    }
}

.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

        .testimonial-content {
            min-height: 380px;
        }
        h3 {
            font-size: 22px;
        }
        .testimonial {
            font-family: Assistant;
            font-weight: 200;
            font-size: 26px;
            text-align: center;
            color: #6e6e6e;
        }
        .trip-to {
            font-weight: normal;
            font-size: 22px;
            color: #6e6e6e;
        }
        hr {
            margin-left: -20px;
            margin-right: -20px;
        }
    }
    .btn-get-started {
        background-color: #1F8A70;
        color: #fff;

        &:hover {
            background-color: #ffb47b;
            color: #fff;
        }
    }
    .btn-need-help {
        background-color: #f2f2f2;
        color: #c3c3c3;

        &:hover {
            background-color: #fafafa;
            color: #c3c3c3ff;
        }
    }
}

.section-footer {
    a {
        color: #00425A;
    }
}

.section-details-header {
    min-height: 310px;
    background-color: #e4e6eb;
    margin-top: -70px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;
    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }
    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: #00425A;
        }
    }

    .card-details {
        padding: 30px;
        border-radius: 11px;

        h1 {
            font-size: 26px;
        }
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 18px;
            color: #b1b1b1;
        }

        .trip-information {
            th {
                font-weight: 300;
                font-size: 18px;
                color: #00425A;
            }

            td {
                font-weight: 300;
                font-size: 18px;
                color: #b1b1b1;
            }

            .text-blue {
                font-weight: 600;
                font-size: 18px;
                color: #00425A;
            }

            .text-orange {
                font-weight: 600;
                font-size: 18px;
                color: #1F8A70;
            }
        }

        .payment-instruction {
            font-weight: 300;
            font-size: 14px;
            color: #b1b1b1;
        }

        .bank {
            .bank-item {
                h3 {
                    font-size: 18px;
                    font-weight: 300;
                    color: #00425A;
                    margin-bottom: 0;
                }

                p {
                    margin-bottom: 0;
                }

                .description {
                    margin-left: 10px;
                    overflow: hidden;
                    float: left;

                    p {
                        font-weight: normal;
                        font-size: 16px;
                        color: #00425A;
                    }
                }
            }

            .bank-image {
                width: 45px;
                height: 45px;
                float: left;
            }
        }
        .disclaimer {
            font-weight: 300;
            font-size: 14px;
            color: #b1b1b1;
        }
        h3 {
            font-weight: 600;
            font-size: 14px;
            color: #00425A;
        }

        .gj-datepicker {
            .datepicker {
                border-right: 0;
            }
            .input-group-append {
                .btn {
                    padding-right: 30px;
                }
            }
        }
    }

    .btn-add-now {
        background-color: #00425A;
        color: #fff;

        &:hover {
            background-color: #0c2561;
            color: #fff;
        }
    }

    .card-right {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
    }
    .features {
        margin-top: 20px;

        h3 {
            font-size: 18px;
            color: #00425A;
            margin-bottom: 0;
        }
        p {
            margin-bottom: 0;
        }

        .description {
            overflow: hidden;

            min-width: 190px;
            padding: 10px 20px 10px 20px;

            min-width: 227px;
            background-color: #fff;
            border-radius: 10px
        }

        .features-image {
            width: 45px;
            height: 45px;
            float: left;
        }

        .gallery {
            .xzoom-container {
                display: block;

                .xzoom {
                    width: 100%;
                    box-shadow: none;
                    margin-bottom: 10px;
                }

                .xactive {
                    border: 4px solid #1abc9c;
                    box-shadow: none;
                }
            }
        }
        .member {
            .member-image {
                width: 40px;
                height: 40px;
            }
        }
    }

    .join-container {
        margin-top: -16px;
    }
    .btn-join-now {
        background-color: #1F8A70;
        color: #fff;
        border-radius: 0;

        &:hover {
            background-color: #ffaf71;
            color: #fff;
        }
    }
}

.section-success {
    height: 90vh;
    .btn-home-page {
        background-color: #00425A;
        color: #fff;

        &:hover {
            background-color: #0c2561;
            color: #fff;
        }
    }
}

.login-container {
    @media (min-width: 992px) {
        background: linear-gradient(90deg, #ffffff 60%, #dadada 40%);
        width: 100wh;
        height: 100vh;
    }
}

.page-login {
    height: 100vh;

    .btn-login {
        background-color: #1F8A70;
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

    .section-left {
        font-family: "Playfair Display";
        font-weight: 300;
        font-size: 60px;

        color: #051334;
    }

    .section-right {
        a {
            font-weight: normal;
            text-decoration: underline;
            font-size: 16px;
            text-align: center;
            color: #818181;
        }
    }
}

.reset-container {
    .card {
        margin-top: 40px;
    }
}

.register-container {
    .card {
        margin-top: 40px;
    }
}

.btn-wa {
    background-color: #25d366 !important;
    border: none;
}

.about-us {
    h1 {
        color: $text-primary;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 40px;
    }
    p {
        font-family: $text-family-primary;
        color: $text-primary;
        text-align: justify;
        font-size: 18px;
    }
    .image {
        width: 70%;
    }
    .image-about {
        min-width: 200px;
        max-width: 400px;
        border-radius: 5%;
    }
}
